

.selected_money{
    border: 1px solid;
    box-shadow: 5px 10px 20px #413f3f;
    padding: 25px;
    border-radius: 20px;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    background-color: #156105;
    border-width: 10px;
    border-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
}