.parent{
	background-image: url(https://images.unsplash.com/photo-1519418482467-96eca39b3f1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
	background-repeat: no-repeat;
}

.div1 {
	background-color: rgba(197, 209, 235, 0.267);
	font-family: fantasy;
	font-size: 27px;
}

.div2 {
	background-image: url(https://image.freepik.com/free-photo/empty-blackboard_53876-30426.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 28px;
	border-color: brown;
	border-style: solid;
	border-width: 2px;
}

.div3 {
	background-image: url(https://image.freepik.com/free-photo/empty-blackboard_53876-30426.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 28px;
	border-color: brown;
	border-style: solid;
	border-width: 2px;
}

.div4 {
	
}


.money_button {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgba(59, 82, 73, 0.548);
	border-radius: 28px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
	user-select: none;
	box-shadow: 3px 3px 10px #413f3f;
}

.money_button:hover {
	background-color: rgb(86, 122, 109);
}

.money_button:active {
	position: relative;
	top: 1px;
}

.drink_button {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: #3e4d8193;
	border-radius: 28px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
	user-select: none;
	box-shadow: 3px 3px 10px #413f3f;
}

.drink_button:hover {
	background-color: #495ba7;
}

.drink_button:active {
	position: relative;
	top: 1px;
}

.machine {
	height: auto;
	width: auto;
}